<launch>
    <!-- use for 1) husky simulation, 2) lego-loam provide map; 3) traversability map provide occupancy map; 4) use move_base for navigation -->
    <!--- Sim Time -->
    <param name="/use_sim_time" value="true" />


    <!--- Run Rviz (launch-prefix="nice" for lower cpu usage)-->
    <node pkg="rviz" type="rviz" name="rviz" output="log" args="-d $(find traversability_mapping)/launch/include/traversability_mapping.rviz" />
    
    <!--- Run Traversability Mapping -->    
    <node pkg="traversability_mapping" type="traversability_filter"  name="traversability_filter"  output="screen"/>
    <node pkg="traversability_mapping" type="traversability_map"     name="traversability_map"     output="screen"/>

    <!--- Run Move Base -->
    <include file="$(find traversability_mapping)/launch/include/move_base_Astar.launch" />

</launch>
